
Para: {{ record.get_mail_users_target() }}
Asunto: Tryton | {{ record.kind.name }}  No. {{ record.number }}

<!DOCTYPE html>
<html>
    <body>
        <p>Buenas</p>
        <p>Los siguientes documentos se han radicado para su revision:</p>

            Tercero:<b> {{ record.party.name }}</b><br>
            Descripcion: <b>{{ record.description }}</b><br>
            Radicado:<b> {{ record.number }}</b><br>
            Fecha de comunicacion:<b> {{ record.date_communication.strftime('%d-%b-%Y') }}</b><br>
            Prioridad:<b> {{ record.priority }}</b><br>
            <ul> 
                {% for doc in record.attachments %}
                    Documento:<b> {{ doc.name }}</b><br>
                    Link:  <a href={{ doc.ftp_link }}> Ver documento...</a><br>
                {% endfor %}
            </ul>
        <p>-------------------------<br>
        <b> {{ record.create_uid.name }}</b><br>
        {{ record.company.party.name }}<br>
        </p>
    </body>
</html>


